*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}
body{
    background-color: rgb(11, 14, 71);
}
header{
    background-color: rgb(12, 22, 131);
    color: white; 
    padding: 20px; 
    text-align: center; 
}


.tableSection{
    flex:3; 
    background-color: rgb(49, 46, 150);
    padding: 30px; 
    margin: 30px; 
    margin-left: auto;
    margin-right: auto;
}

ul.topnav{
    display: flex;
    list-style-type: none;
    flex: 1; 
    background: rgb(91, 111, 211); 
    padding:10px; 
    justify-content: center;
    
}
ul.topnav li a{
    display: block;
    background-color: rgb(91, 111, 211);  
    color: rgb(25, 33, 110);
    padding: 20px; 
}

ul.topnav li a:hover{
    background-color: rgb(141, 138, 232); 
}

th{
    font-weight: bold; 
    background-color: rgb(138, 144, 226);
    font-size: 110%; 
}
table,th, td{
    border: 3px solid rgb(37, 20, 105); 
    border-collapse: collapse; 
}
th, td{
    padding: 5px; 
}
td{
    background-color: aliceblue;
}
.center{
    margin-left: auto; 
    margin-right: auto; 
}



footer{
    background-color: rgb(57, 99, 205);
    text-align: center; 
    padding: 10px; 
}
button{
    display:block; 
    background-color: rgb(71, 85, 212);
    border-radius: 8px; 
}
